* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.site-title {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-shadow: 2px 2px black;
}
.site-subtitle {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-shadow: 2px 2px black;
  border-right: 2px solid rgba(255, 255, 255, 0.75);
  margin: 0 auto;
  white-space: nowrap;
  overflow: hidden;
}
.animação-digitando {
  animation: digitar 1.5s steps(40) both,
    cursor-transparente 500ms infinite normal;
}
@keyframes digitar {
  0% {
    width: 0ch;
  }
  100% {
    width: 15ch;
  }
}
@keyframes cursor-transparente {
  from {
    border-right-color: rgba(255, 255, 255, 0.75);
  }
  to {
    border-right-color: transparent;
  }
}
@media (min-width: 600px) {
  .menu a {
    font-size: 1.1rem;
  }
  .site-title {
    font-size: 1.1rem;
    text-shadow: 4px 4px black;
  }
}
@media (min-width: 1024px) {
  .menu a {
    font-size: 1.5rem;
  }
  .site-title {
    font-size: 3.2rem;
  }
  .site-subtitle {
    font-size: 2.1rem;
  }
}
header {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu {
  background-color: #f2f2f2;
  position: fixed;
  width: 100vw;
  top: 0;
  z-index: 1;
}
.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.menu li {
  float: right;
}
.logo {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #0466c8;
  text-shadow: 0.5px 0.5px 2px black;
  margin-left: 1em;
  display: block;
  padding-top: 2.5px;
  text-decoration: none;
  transition: color, text-shadow, 0.5s;
}
.logo:hover {
  font-size: 1.5rem;
  color: whitesmoke;
  text-shadow: 2px 2px 3px #0353a4;
}
.menu-list {
  color: black;
  display: block;
  text-decoration: none;
  padding: 5px 15px;
  transition: color, text-shadow, 0.5s;
}
.menu-list:hover {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    180deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 41, 121, 1) 70%,
    rgba(0, 212, 255, 1) 100%
  );
  color: #f2f2f2;
  text-shadow: 1px 1px black;
}
.site-title,
.site-subtitle {
  color: whitesmoke;
  text-align: center;
}
/*******/
.container {
  width: 1280px;
  margin-left: auto;
  margin-right: auto;
}
body {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    193deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 41, 121, 1) 44%,
    rgba(0, 212, 255, 1) 100%
  );
  color: #f2f2f2;
  font-size: 1.1rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#sobre {
  background-color: gray;
  padding-top: 2rem;
  padding-left: 2em;
  padding-right: 2em;
  padding-bottom: 2em;
  border-radius: 25px;
  margin-bottom: 1em;
  margin-left: 0.8em;
  margin-right: 0.8em;
}
.sobre p {
  text-indent: 1.3rem;
  text-align: justify-self; 
  color: black;
}
.sobre h2 {
  margin-bottom: 1em;
  text-align: center;
  color: #f2f2f2;
  text-shadow: 2px 2px black;
}
.avatar {
  margin-left: 5em;
  margin-right: 5em;
  border: solid 5px transparent;
  border-radius: 20px;
  float: left;
  margin-bottom: 20px;
  height: 380px;
}
@media (min-width: 1357px) {
  .avatar {
    margin-top: 0px;
  }
}
@media (min-width: 1387px) {
  .avatar {
    margin-top: -2em;
    margin-bottom: 1px;
    height: 250px;
  }
}
@media (min-width: 376px) {
  .avatar {
    margin-left: 4em;
  }
}
@media (min-width: 1357px) {
  .sobre p {
    font-size: 1.1rem;
  }
}
/****conhecimentos***/
.img-portfolio-navigation {
  width: 260px;
  height: 180px;
  object-fit: cover;
  border-radius: 10px;
}
.portfolio-navigation {
  background-color: gray;
  padding-top: 2rem;
  padding-left: 2em;
  padding-right: 2em;
  padding-bottom: 2em;
  border-radius: 25px;
  margin-bottom: 1em;
  margin-left: 0.8em;
  margin-right: 0.8em;
}
.portfolio-navigation a {
  color: black;
  text-decoration: none;
}
.flip-card {
  background-color: transparent;
  height: 212px;
  border-radius: 10px;
  perspective: 1000px;
}
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.1s;
  transform-style: preserve-3d;
}
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}
.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.flip-card-back {
  background-color: dodgerblue;
  height: 212px;
  border-radius: 10px;
  color: black;
  transform: rotateY(180deg);
}
@media (min-width: 500px) {
  .flip-card-back {
    margin-left: 0em;
    padding-right: 0em;
  }
}
.card-back-title {
  font-size: 1em;
  color: #f2f2f2;
  padding-bottom: 0.5em;
}
.card-back-title-lg {
  font-size: 1.5em;
  color: #f2f2f2;
  padding-bottom: 0.5em;
  text-shadow: 1px 1px black;
}
.card-back-subtitle {
  font-size: 1.5em;
  color: #f2f2f2;
  text-shadow: 1px 1px black;
}
.card-back-list {
  list-style: none;
}
.flip-card-back hr {
  margin-bottom: 5px;
}
.card-back-a {
  transition: color, font-size, 0.5s;
}
.card-back-a:hover {
  font-size: 1.2em;
  color: #00029f;
}
.portfolio-navigation h2 {
  margin-bottom: 1em;
  text-align: center;
  color: #f2f2f2;
  text-shadow: 2px 2px black;
}
.portfolio-navigation h3 {
  margin-top: 2em;
  margin-bottom: 1em;
  text-align: center;
  color: #f2f2f2;
  text-shadow: 2px 2px black;
}
.portfolio-navigation figure {
  text-align: center;
}
.grid {
  display: grid;
  grid-gap: 2rem;
  border-radius: 20px;
}
.outer {
  width: 180px;
  height: 85px;
  border: 5px solid #121212;
  display: flex;
  margin-left: 25%;
  padding: 5px;
  margin-top: 1em;
  margin-bottom: 1em;
  border-radius: 5px;
  box-shadow: 0px 3px 5px 3px gray;
  cursor: pointer;
  transition: all 0.3s;
}
.inner {
  height: 100%;
  background-color: black;
  flex: 1;
  border-radius: 2px;
  opacity: 0;
  animation: ani1 2.5s both;
}
.inner-disable {
  height: 100%;
  background-color: transparent;
  flex: 1;
  border-radius: 2px;
  opacity: 0;
  animation: ani1 2.5s both;
}
.outer:hover {
  border: 5px solid #00029f;
  box-shadow: 0px 3px 5px 3px #482ef2;
}
.outer:hover .inner {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    180deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 41, 121, 1) 100%,
    rgba(0, 212, 255, 1) 100%
  );
}
.inner:nth-child(2) {
  margin: 0 4px;
  animation: ani2 3s 4s both;
}
.inner:nth-child(3) {
  animation: ani3 3s 6s both;
}
@keyframes ani1 {
  33%,
  100% {
    opacity: 1;
  }
}
@keyframes ani2 {
  0%,
  33% {
    opacity: 0;
  }
  66%,
  100% {
    opacity: 1;
  }
}
@keyframes ani3 {
  0%,
  66% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@media (min-width: 375px) {
  .grid figcaption {
    color: whitesmoke;
  }
}
@media (min-width: 640px) {
  .grid {
    grid-template-columns: 260px 260px;
    justify-content: center;
  }
  .outer {
    margin-left: 15%;
  }
  .grid figcaption {
    margin-top: -23px;
    padding-top: 18px;
    padding-bottom: 50px;
    background-color: whitesmoke;
    border-radius: 10px;
    color: black;
  }
  .portfolio-navigation figure {
    box-shadow: 3px 3px 6px black;
    border-radius: 10px;
  }
}
@media (min-width: 940px) {
  .grid {
    column-gap: 8em;
    justify-content: center;
  }
}
@media (min-width: 1240px) {
  .grid {
    column-gap: 2em;
    grid-template-columns: 260px 260px 260px 260px;
    justify-content: center;
  }
  .container {
    width: 1280px;
    margin-left: auto;
    margin-right: auto;
  }
}
/** projetos **/
.img-portfolio-projects {
  width: 260px;
  height: 180px;
  object-fit: cover;
  border-radius: 10px;
}
.portfolio-projects {
  background-color: gray;
  padding-top: 2rem;
  padding-left: 2em;
  padding-right: 2em;
  padding-bottom: 2em;
  margin-bottom: 1em;
  margin-left: 0.8em;
  margin-right: 0.8em;
}
.portfolio-projects a{
  color: black;
  text-decoration: none;
}
.portfolio-projects p{
  color: black;
  text-decoration: none;
}
.flip-card {
  background-color: transparent;
  height: 212px;
  border-radius: 1px;
  perspective: 1000px;
}
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.1s;
  transform-style: preserve-3d;
}
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}
.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.flip-card-back {
  background-color: dodgerblue;
  height: 212px;
  border-radius: 10px;
  color: black;
  transform: rotateY(180deg);
}
@media (min-width: 500px) {
  .flip-card-back {
    margin-left: 0em;
    padding-right: 0em;
  }
}
.card-back-title {
  font-size: 1em;
  color: #f2f2f2;
  padding-bottom: 0.5em;
}
.card-back-title-lg {
  font-size: 1em;
  color: #f2f2f2;
  padding-bottom: 0.5em;
  text-shadow: 1px 1px black;
}
.card-back-subtitle {
  font-size: 1em;
  color: #f2f2f2;
  text-shadow: 1px 1px black;
}
.card-back-list {
  list-style: none;
}
.flip-card-back hr {
  margin-bottom: 5px;
}
.card-back-a {
  transition: color, font-size, 0.5s;
}
.card-back-a:hover {
  font-size: 1.2em;
  color: #00029f;
}
.portfolio-projects h2 {
  padding-bottom: 1em;
  margin-bottom: 0.1em;
  text-align: center;
  color: #f2f2f2;
  text-shadow: 2px 2px black;
}
.portfolio-projects h3 {
  margin-top: 2em;
  margin-bottom: 1em;
  text-align: center;
  color: #f2f2f2;
  text-shadow: 2px 2px black;
}
.portfolio-projects figure {
  text-align: center;
}
.grid {
  display: grid;
  grid-gap: 2rem;
  border-radius: 20px;
}
.outer {
  width: 180px;
  height: 85px;
  border: 5px solid #121212;
  display: flex;
  margin-left: 25%;
  padding: 5px;
  margin-top: 1em;
  margin-bottom: 1em;
  border-radius: 5px;
  box-shadow: 0px 3px 5px 3px gray;
  cursor: pointer;
  transition: all 0.3s;
}
.inner {
  height: 100%;
  background-color: black;
  flex: 1;
  border-radius: 2px;
  opacity: 0;
  animation: ani1 2.5s both;
}
.inner-disable {
  height: 100%;
  background-color: transparent;
  flex: 1;
  border-radius: 2px;
  opacity: 0;
  animation: ani1 2.5s both;
}
.outer:hover {
  border: 5px solid #00029f;
  box-shadow: 0px 3px 5px 3px #482ef2;
}
.outer:hover .inner {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    180deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 41, 121, 1) 100%,
    rgba(0, 212, 255, 1) 100%
  );
}
.inner:nth-child(2) {
  margin: 0 4px;
  animation: ani2 3s 4s both;
}
.inner:nth-child(3) {
  animation: ani3 3s 6s both;
}
@keyframes ani1 {
  33%,
  100% {
    opacity: 1;
  }
}
@keyframes ani2 {
  0%,
  33% {
    opacity: 0;
  }
  66%,
  100% {
    opacity: 1;
  }
}
@keyframes ani3 {
  0%,
  66% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@media (min-width: 375px) {
  .grid figcaption {
    color: whitesmoke;
  }
}
@media (min-width: 640px) {
  .grid {
    grid-template-columns: 260px 260px;
    justify-content: center;
  }
  .outer {
    margin-left: 15%;
  }
  .grid figcaption {
    margin-top: -23px;
    padding-top: 18px;
    padding-bottom: 50px;
    background-color: whitesmoke;
    border-radius: 10px;
    color: black;
  }
  .portfolio-projects figure {
    box-shadow: 3px 3px 6px black;
    border-radius: 10px;
  }
}
@media (min-width: 940px) {
  .grid {
    column-gap: 8em;
    justify-content: center;
  }
}
@media (min-width: 1240px) {
  .grid {
    column-gap: 2em;
    grid-template-columns: 260px 260px 260px 260px;
    justify-content: center;
  }
  .container {
    width: 1280px;
    margin-left: auto;
    margin-right: auto;
  }
}
/** footer **/
.contato a {
  color: black;
  text-decoration: none;
}
.contato h2 {
  margin-bottom: 1em;
  text-align: center;
  color: #f2f2f2;
  text-shadow: 2px 2px black;
}
@media (min-width: 640px) {
  .contato {
    padding-top: 0.5em;
    padding-bottom: 2em;
  }
  .contato h3 {
    padding-left: 2em;
    font-size: 1.5em;
  }
  .contato a {
    font-size: 1.5em;
  }
}
@media (min-width: 940px) {
  .contato h3 {
    padding-left: 3em;
    font-size: 2em;
  }
}
@media (min-width: 1240px) {
  .contato h3 {
    padding-left: 5em;
  }
}
.contato {
  background-color: gray;
  padding-top: 2rem;
  padding-left: 2em;
  padding-right: 2em;
  padding-bottom: 2em;
  border-radius: 25px;
  margin-bottom: 1em;
  margin-left: 0.8em;
  margin-right: 0.8em;
}
.contato a {
  padding: 0.5em;
  transition: color, 0.5s;
}
.contato a:hover {
  color: #f2f2f2;
}
footer {
  color: black;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: "Jost", sans-serif;
  display: flex;
  justify-content: center;
  background-color: #f2f2f2;
  font-weight: bold;
}